:root {
    --header-height: 52px;
    --menu_width: 240px;
}

/* Menu */
.mobile > #main_menu_root {
    display: none;
    z-index: 10;
    position: fixed;
    left: calc(0px - 100%);
    top: 0px;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
}

.mobile > #main_menu_root.open {
    display: block;
    left: 0px;
}

.mobile > #main_menu_root > #main_menu {
    width: var(--menu_width);
    height: 100%;
    background: var(--background_content);
}

.mobile > #main_menu_root > #main_menu_closer {
    position: fixed;
    right: 0px;
    top: 0px;
    width: calc(100% - var(--menu_width));
    height: 100%;
}

/* Header */

.mobile > #page_header {
    z-index: 9;
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: var(--header-height);
    background: var(--background_content);
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.08), 0px 4px 12px rgba(0, 0, 0, 0.06);
    display: flex;
    align-items: center;
}

#page_header > #header_content {
    flex: 1;
    width: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#page_header .page_header_button {
    width: var(--header-height);
    height: var(--header-height);
    background: rgba(0, 0, 0, 0);
    border: 0;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#page_header .page_header_button, #page_header .page_header_button > svg {
    color: var(--tabbar_active_icon);
}

#page_header h2 {
    font-weight: 500;
}

/* Content */
.mobile > main {
    margin-top: calc(var(--header-height) + var(--blocks_gap));
    display: flex;
    flex-direction: column;
}

#extra.no_last > .page_block {
    margin-bottom: 0px;
}